<!doctype html>
<html>

<head> 
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> 
	<link href="css/emoji.css" rel="stylesheet">
</head>

		<style>

body{
	margin: 0px;
	border:0;
	padding:0;
	font-size: 15px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#heading{
	width:100%;
	height:80px;
	background-color:green;
	position: fixed;
}

.heading_right{
	width:20%;
	height:70px;
	float:right;
	background-color:lightblue;
	padding-top:10px;
	padding-left:20px;
}
.heading_left{
	width:15%;
	height:30px;
	padding-top:15px;
	padding-left:30px;
	float:left;
	background-color:pink;
}
.blank{
	width:100%;
	height:10px;
	background-color:brown;
	position: fixed;
	margin-top: 80px;
}
#left{
	width:13%;
	float: left;
	padding-top:20px;
	padding-left:20px;
	padding-bottom:20px;
	background-color:yellow;
	position: fixed;
	margin-top: 90px;
}
#table{
	width:85%;
	float: right;
	background-color:gray;
	margin-top: 90px;
}
#table td, #table th{
	border: 1px solid #EDF2EE;
}
#table th{
	text-align: left;
	background-color: #96ABAF;
	color: white;
}
#table tr:nth-child(even){
	background-color: #DAE2E3;
}
#table tr:hover{
	background-color: #BECED1;
}
#send_mail{
	width:40%;
	height:600px;
	border: 2px solid black;
	margin-left: 59.5%;
	margin-top: 155px;
	visibility: hidden;
	position: fixed;
	background-color: white;
}
.new{
	padding-top: 12px;
	padding-left: 2%;
	height: 30px;
	border: 1px solid black;
	background-color: black;
	color: white;
}
#to{
	width: 97%;
	margin-top: 10px;
	margin-left: 1%;
	height: 37px;
	padding-left: 1%;
	border: 0px;
	font-size:18px;
}
#subject{
	width: 97%;
	margin-top: 2px;
	margin-left: 1%;
	height: 37px;
	padding-left: 1%;
	border: 0px;
	font-size:18px;
}
#body{
	width: 97.5%;
	margin-top: 4px;
	margin-left: 1%;
	height: 262px;
	border: 0px;
	font-size:15px;
}
#send{
	width:15%;
	height: 30px;
	float: left;
	margin-left: 1.5%;
	margin-top: -3.5px;
	background-color: black;
	color: white;
}
#footer{
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
}
#close{
	float:right;
	display:inline-block;
	padding-right: 5px;
	background:#000000;
}
.default{
	cursor: default;
}
</style>


	<body>
		<script>
			alert({{abcd|safe}});
		</script>
		<div id="heading">
			<div class='heading_left'>
				<h2> WELCOME  </h2>
			</div>
			<div class='heading_right'>
				<a href='/' style='text-decoration:none'><input type='button' value='LOGOUT'></a>
			</div>
		</div>

		<div class='blank'> </div>
		<div id="left">
			<a href="#send_mail" onClick="return showOrhide()" style="text-decoration:none"> <input type="button" name="btn" value="Send Mail" id="btn"/> </a>
	    </div>
    	<div id="table">
			<table cellspacing = "0" cellpadding = "5" width="100%">
  				<tr>
  				    <th width="8%"> UID </th>
  				    <th width="21%"> FROM </th>
  				    <th width="17%"> DATE </th>
  				    <th width="32%"> SUBJECT </th>
  				    <th width="7%"> SPAM % </th>
  				</tr>

				     {% for i in results %}
				<tr>
					<td>{{i[0]}}</td>
					<td><a href='/show{{i[0]}}' style='text-decoration:none'>{{i[1]}}</a></td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}</td>
				</tr>
				      {% endfor %}

			</table>
		</div>

		<div id="send_mail">
			<div class="new"> New Message <span id='close'><div class='default'>x</div></span></div>

			<form id="form1" method="POST" action="/abcd">
				<input type="text" name="to1" id="to" placeholder="To"/>	<br/>	<hr>
				<input type="text" name="subject1" id="subject" placeholder="Subject"/>	 <br/>	<hr>
				<textarea name="body1" id="body" data-emojiable="true"> </textarea> <br/> <hr>
				<input type="button" name="send1" value="Send" id="send" onclick="submitForm('/sendmail')"/>
			</form>
		</div>

		<div id="footer"> </div>

		<script type="text/javascript">
			function showOrhide(){
   					if(document.getElementById("send_mail"))
    				{
      					document.getElementById("send_mail").style.visibility="visible";
    				}
 			}
			function submitForm(action){
					var form = document.getElementById('form1');
					form.action = action;
					form.submit();
			}
			window.onload = function(){
					document.getElementById('close').onclick = function(){
					this.parentNode.parentNode.parentNode
					.removeChild(this.parentNode.parentNode);
					return false;
					}
			}
		
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="js/config.js"></script>
		<script src="js/util.js"></script>
		<script src="js/jquery.emojiarea.js"></script>
		<script src="js/emoji-picker.js"></script>

	</body>

</html>
